body{
    background-color: #95b8d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    text-align: center;
    background-color: white;
    width: 800px;
}
input[type='text']{
    width: 95%;
    padding: 0.5rem;
    display: block;
    padding: 5px;
    margin: 0 auto;
    font-size: 22px;
}
input[type='submit']{
    font-size: 22px;
    margin-top: 15px;
    padding: 12px 24px;
    background-color: #95b8d1;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#error-show{
    color: red;
}
.last-h2{
    color: #95b8d1b6;
    text-transform: uppercase;
}